<!DOCTYPE html>
<html>
<head>
  <title>Create an Event</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
  <script src="/javascripts/angularApp.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
  
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
  </head>
<body ng-app="createEvent">
  <div class="row">
    <div class="text-center col-md-4 col-md-offset-3">
      <ui-view></ui-view>
    </div>
  </div>

  <script type="text/ng-template" id="/home.html">
    <div class="page-header">
      <img src="https://storage.googleapis.com/nowmapr_v0/img/nowmapr.jpg" alt="nowmapr" height="75" width="225">
    </div>

    <form ng-submit="addEvent()" style="margin-top:30px">
      <span>
      <h3>Create a New Event</h3>
      
      <div class="text-left">
      <div class="form-group">
        <label for="Event Title">Event Title</label>
        <input type="text" class="form-control" placeholder="Title" ng-model="title">
      </div>
      </br>

      

      <input type="submit" id="submit" value="Submit" />
      </div>
    </form>
	</script>

  
</body>
</html>