<!DOCTYPE html>
<html>
<head>
  <title>Create an Event</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
  <script src="/javascripts/angularApp.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
  <script src="//api.filestackapi.com/filestack.js"></script>

 	<!-- Google Maps JavaScript API -->
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places"></script>
    
  <!-- vsGoogleAutocomplete -->
  <script src="/javascripts/vs-google-autocomplete.js"></script>
  
  

  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>
<body ng-app="createEvent">
  <div class="row">
    <div class="text-center col-md-4 col-md-offset-3">
      <ui-view></ui-view>
    </div>
  </div>

  <script type="text/ng-template" id="/home.html">
    <div class="page-header">
      <img src="https://storage.googleapis.com/nowmapr_v0/img/nowmapr.jpg" alt="nowmapr" height="75" width="225">
    </div>

    
    <form ng-submit="addEvent()" style="margin-top:30px">
      <span>
      <h4 class="text-center">Create an Event</h4></br>
      
      <div class="text-left">
      <div class="text-muted">
      
      <div class="form-group">
        <label for="Event Name" class-"text-muted">Event Name</label>
        <input type="text" class="form-control" placeholder="What is the name of your Event?" ng-model="name" required/>
      </div>
      
      <div class="form-group has-feedback">
        <label for="Event Date">Event Date</label>
        <input type="date" class="form-control" ng-model="date" required/>
        <i class="form-control-feedback glyphicon glyphicon-calendar"></i>
      </div>
      </br>
      
      <div class="form-group">
        <label for="Start Time">Start Time</label>
        <select placeholder="Start Time" ng-model="sT" required>
        	<option value= ""> </option>
        	
	        <option value="12:00 AM">12:00 AM</option>
	        <option value="12:15 AM">12:15 AM</option>
	        <option value="12:30 AM">12:30 AM</option>
	        <option value="12:45 AM">12:45 AM</option>
	        
	        <option value="1:00 AM">1:00 AM</option>
	        <option value="1:15 AM">1:15 AM</option>
	        <option value="1:30 AM">1:30 AM</option>
	        <option value="1:45 AM">1:45 AM</option>
	        
	        <option value="2:00 AM">2:00 AM</option>
	        <option value="2:15 AM">2:15 AM</option>
	        <option value="2:30 AM">2:30 AM</option>
	        <option value="2:45 AM">2:45 AM</option>
	        
	        <option value="3:00 AM">3:00 AM</option>
	        <option value="3:15 AM">3:15 AM</option>
	        <option value="3:30 AM">3:30 AM</option>
	        <option value="3:45 AM">3:45 AM</option>
	        
	        <option value="4:00 AM">4:00 AM</option>
	        <option value="4:15 AM">4:15 AM</option>
	        <option value="4:30 AM">4:30 AM</option>
	        <option value="4:45 AM">4:45 AM</option>
	        
	        <option value="5:00 AM">5:00 AM</option>
	        <option value="5:15 AM">5:15 AM</option>
	        <option value="5:30 AM">5:30 AM</option>
	        <option value="5:45 AM">5:45 AM</option>
 
	        <option value="6:00 AM">6:00 AM</option>
	        <option value="6:15 AM">6:15 AM</option>
	        <option value="6:30 AM">6:30 AM</option>
	        <option value="6:45 AM">6:45 AM</option>
 
	        <option value="7:00 AM">7:00 AM</option>
	        <option value="7:15 AM">7:15 AM</option>
	        <option value="7:30 AM">7:30 AM</option>
	        <option value="7:45 AM">7:45 AM</option>
 
	        <option value="8:00 AM">8:00 AM</option>
	        <option value="8:15 AM">8:15 AM</option>
	        <option value="8:30 AM">8:30 AM</option>
	        <option value="8:45 AM">8:45 AM</option>
 
	        <option value="9:00 AM">9:00 AM</option>
	        <option value="9:15 AM">9:15 AM</option>
	        <option value="9:30 AM">9:30 AM</option>
	        <option value="9:45 AM">9:45 AM</option>
 
	        <option value="10:00 AM">10:00 AM</option>
	        <option value="10:15 AM">10:15 AM</option>
	        <option value="10:30 AM">10:30 AM</option>
	        <option value="10:45 AM">10:45 AM</option>
 
	        <option value="11:00 AM">11:00 AM</option>
	        <option value="11:15 AM">11:15 AM</option>
	        <option value="11:30 AM">11:30 AM</option>
	        <option value="11:45 AM">11:45 AM</option>
 
	        <option value="12:00 PM">12:00 PM</option>
	        <option value="12:15 PM">12:15 PM</option>
	        <option value="12:30 PM">12:30 PM</option>
	        <option value="12:45 PM">12:45 PM</option>
 
	        <option value="1:00 PM">1:00 PM</option>
	        <option value="1:15 PM">1:15 PM</option>
	        <option value="1:30 PM">1:30 PM</option>
	        <option value="1:45 PM">1:45 PM</option>
 
	        <option value="2:00 PM">2:00 PM</option>
	        <option value="2:15 PM">2:15 PM</option>
	        <option value="2:30 PM">2:30 PM</option>
	        <option value="2:45 PM">2:45 PM</option>
 
	        <option value="3:00 PM">3:00 PM</option>
	        <option value="3:15 PM">3:15 PM</option>
	        <option value="3:30 PM">3:30 PM</option>
	        <option value="3:45 PM">3:45 PM</option>
 
	        <option value="4:00 PM">4:00 PM</option>
	        <option value="4:15 PM">4:15 PM</option>
	        <option value="4:30 PM">4:30 PM</option>
	        <option value="4:45 PM">4:45 PM</option>
 
	        <option value="5:00 PM">5:00 PM</option>
	        <option value="5:15 PM">5:15 PM</option>
	        <option value="5:30 PM">5:30 PM</option>
	        <option value="5:45 PM">5:45 PM</option>
 
	        <option value="6:00 PM">6:00 PM</option>
	        <option value="6:15 PM">6:15 PM</option>
	        <option value="6:30 PM">6:30 PM</option>
	        <option value="6:45 PM">6:45 PM</option>
 
	        <option value="7:00 PM">7:00 PM</option>
	        <option value="7:15 PM">7:15 PM</option>
	        <option value="7:30 PM">7:30 PM</option>
	        <option value="7:45 PM">7:45 PM</option>
 
	        <option value="8:00 PM">8:00 PM</option>
	        <option value="8:15 PM">8:15 PM</option>
	        <option value="8:30 PM">8:30 PM</option>
	        <option value="8:45 PM">8:45 PM</option>
 
	        <option value="9:00 PM">9:00 PM</option>
	        <option value="9:15 PM">9:15 PM</option>
	        <option value="9:30 PM">9:30 PM</option>
	        <option value="9:45 PM">9:45 PM</option>
 
	        <option value="10:00 PM">10:00 PM</option>
	        <option value="10:15 PM">10:15 PM</option>
	        <option value="10:30 PM">10:30 PM</option>
	        <option value="10:45 PM">10:45 PM</option>
 
	        <option value="11:00 PM">11:00 PM</option>
	        <option value="11:15 PM">11:15 PM</option>
	        <option value="11:30 PM">11:30 PM</option>
	        <option value="11:45 PM">11:45 PM</option>
	        </select>
	        
	       <label for="End Time">End Time</label>
          <select placeholder="End Time" ng-model="eT" required>
	        <option value= ""> </option>
	        
	        <option value="12:00 AM">12:00 AM</option>
	        <option value="12:15 AM">12:15 AM</option>
	        <option value="12:30 AM">12:30 AM</option>
	        <option value="12:45 AM">12:45 AM</option>
	        
	        <option value="1:00 AM">1:00 AM</option>
	        <option value="1:15 AM">1:15 AM</option>
	        <option value="1:30 AM">1:30 AM</option>
	        <option value="1:45 AM">1:45 AM</option>
	        
	        <option value="2:00 AM">2:00 AM</option>
	        <option value="2:15 AM">2:15 AM</option>
	        <option value="2:30 AM">2:30 AM</option>
	        <option value="2:45 AM">2:45 AM</option>
	        
	        <option value="3:00 AM">3:00 AM</option>
	        <option value="3:15 AM">3:15 AM</option>
	        <option value="3:30 AM">3:30 AM</option>
	        <option value="3:45 AM">3:45 AM</option>
	        
	        <option value="4:00 AM">4:00 AM</option>
	        <option value="4:15 AM">4:15 AM</option>
	        <option value="4:30 AM">4:30 AM</option>
	        <option value="4:45 AM">4:45 AM</option>
	        
	        <option value="5:00 AM">5:00 AM</option>
	        <option value="5:15 AM">5:15 AM</option>
	        <option value="5:30 AM">5:30 AM</option>
	        <option value="5:45 AM">5:45 AM</option>
 
	        <option value="6:00 AM">6:00 AM</option>
	        <option value="6:15 AM">6:15 AM</option>
	        <option value="6:30 AM">6:30 AM</option>
	        <option value="6:45 AM">6:45 AM</option>
 
	        <option value="7:00 AM">7:00 AM</option>
	        <option value="7:15 AM">7:15 AM</option>
	        <option value="7:30 AM">7:30 AM</option>
	        <option value="7:45 AM">7:45 AM</option>
 
	        <option value="8:00 AM">8:00 AM</option>
	        <option value="8:15 AM">8:15 AM</option>
	        <option value="8:30 AM">8:30 AM</option>
	        <option value="8:45 AM">8:45 AM</option>
 
	        <option value="9:00 AM">9:00 AM</option>
	        <option value="9:15 AM">9:15 AM</option>
	        <option value="9:30 AM">9:30 AM</option>
	        <option value="9:45 AM">9:45 AM</option>
 
	        <option value="10:00 AM">10:00 AM</option>
	        <option value="10:15 AM">10:15 AM</option>
	        <option value="10:30 AM">10:30 AM</option>
	        <option value="10:45 AM">10:45 AM</option>
 
	        <option value="11:00 AM">11:00 AM</option>
	        <option value="11:15 AM">11:15 AM</option>
	        <option value="11:30 AM">11:30 AM</option>
	        <option value="11:45 AM">11:45 AM</option>
 
	        <option value="12:00 PM">12:00 PM</option>
	        <option value="12:15 PM">12:15 PM</option>
	        <option value="12:30 PM">12:30 PM</option>
	        <option value="12:45 PM">12:45 PM</option>
 
	        <option value="1:00 PM">1:00 PM</option>
	        <option value="1:15 PM">1:15 PM</option>
	        <option value="1:30 PM">1:30 PM</option>
	        <option value="1:45 PM">1:45 PM</option>
 
	        <option value="2:00 PM">2:00 PM</option>
	        <option value="2:15 PM">2:15 PM</option>
	        <option value="2:30 PM">2:30 PM</option>
	        <option value="2:45 PM">2:45 PM</option>
 
	        <option value="3:00 PM">3:00 PM</option>
	        <option value="3:15 PM">3:15 PM</option>
	        <option value="3:30 PM">3:30 PM</option>
	        <option value="3:45 PM">3:45 PM</option>
 
	        <option value="4:00 PM">4:00 PM</option>
	        <option value="4:15 PM">4:15 PM</option>
	        <option value="4:30 PM">4:30 PM</option>
	        <option value="4:45 PM">4:45 PM</option>
 
	        <option value="5:00 PM">5:00 PM</option>
	        <option value="5:15 PM">5:15 PM</option>
	        <option value="5:30 PM">5:30 PM</option>
	        <option value="5:45 PM">5:45 PM</option>
 
	        <option value="6:00 PM">6:00 PM</option>
	        <option value="6:15 PM">6:15 PM</option>
	        <option value="6:30 PM">6:30 PM</option>
	        <option value="6:45 PM">6:45 PM</option>
 
	        <option value="7:00 PM">7:00 PM</option>
	        <option value="7:15 PM">7:15 PM</option>
	        <option value="7:30 PM">7:30 PM</option>
	        <option value="7:45 PM">7:45 PM</option>
 
	        <option value="8:00 PM">8:00 PM</option>
	        <option value="8:15 PM">8:15 PM</option>
	        <option value="8:30 PM">8:30 PM</option>
	        <option value="8:45 PM">8:45 PM</option>
 
	        <option value="9:00 PM">9:00 PM</option>
	        <option value="9:15 PM">9:15 PM</option>
	        <option value="9:30 PM">9:30 PM</option>
	        <option value="9:45 PM">9:45 PM</option>
 
	        <option value="10:00 PM">10:00 PM</option>
	        <option value="10:15 PM">10:15 PM</option>
	        <option value="10:30 PM">10:30 PM</option>
	        <option value="10:45 PM">10:45 PM</option>
 
	        <option value="11:00 PM">11:00 PM</option>
	        <option value="11:15 PM">11:15 PM</option>
	        <option value="11:30 PM">11:30 PM</option>
	        <option value="11:45 PM">11:45 PM</option>
	        </select>
	    </div>
      </br>
      
      <div class="form-group">
        <label for="Address">Address</label>
        <input vs-google-autocomplete type="text" class="form-control" placeholder="Address" ng-model="address" required/>
      </div>
      </br>
        
      <div class="form-group">
      <div class="form-inline">
        <label for="Admission">Admission</label>
        <select placeholder="Admission" ng-model="admis" required/>
	        <option value=""></option>
	        
	        <option value="Free">Free</option>
	        <option value="Cost">Cost</option>
	        <option value="Other">Other</option>
	      </select>
	      <input type="text" class="form-control" placeholder="Cost to attend the event" ng-show="admis=='Cost'" ng-model="cost"/>
	      <input type="text" class="form-control" placeholder="Other Admission Required" ng-show="admis=='Other'" ng-model="fee"/>
	    </div>
	    </div>

			<div class="form-inline">
			<label for="Cover Photo">Choose a Cover Photo for Your Event Page:   </label>
	    <input class="btn btn-info" type="filepicker" data-fp-apikey="AweAnVFs8RaWaeQNHS6jgz" ng-click="upload()" data-fp-button-text="Choose Image" ng-model="pic" />
	    </br>
	    </br>
	    <div>
	    <a href="{{pic}}" class="thumbnail" ng-if="pic" target="_blank" align="center"><img ng-src="{{pic}}"></a>
	    </div>
	    </div>
	    </br>
			
			<div class="form-group">
        <label for="Event Information">Event Information</label>
        <textarea class="form-control" rows="5" placeholder="Tell us about your event" ng-model="info" required/></textarea>
      </div>
      </br>
      
      <div class="text-center">
      <input type="submit" class="btn btn-info" id="submit" value="Create Your Event" />
      </div>
      
      </div>
      </div>
    </form>
    
	</script>

  
</body>
</html>