.web {
    color: #7ac4e9;
}

.face {
    color: #3b5998;
}

.insta {
    color: #517fa4;
}

.tweet {
    color: #00aced;
}

.goo {
    color:#dd4b39;
}

.indibtn {
    background: #7ac4e9;
    color: #FFFFFF;
}